# .NET
bin/
obj/
publish/
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.csproj.user
*.rsuser
*.cache
*.ncb
*.opendb
*.opensdf
*.sdf
*.psess
*.vsp
*.vspx
*.sap
*.e2e

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# PDF plan (local only)
*.pdf
